.slide {
  color: #333;
}
.slide.shout h2 {
  top: 45%;
  color: #555;
  font-weight: 600;
}
.slide.full-page > div {
  padding: 50px 96px 20px 128px;
  height: 570px;
}
.slide.full-page > div h2 {
  margin-bottom: 36px;
  font-size: 36px;
}
.slide small,
.slide .small {
  font-size: 0.7em;
}
.slide sup {
  font-size: 0.5em;
  position: relative;
  top: -1.2em;
}
.slide sup sup {
  font-size: 0.65em;
}
.slide p {
  margin: 0 0 48px;
}
.slide hr {
  background: transparent;
  border: 1px solid rgba(136, 136, 136, 0.5);
  border-bottom: 0 none;
}
.slide pre code {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0 5px;
}
.slide .no-gap {
  line-height: 1.1em;
}
.slide .small-gap {
  line-height: 1.5em;
}
.slide .no-margin {
  margin: 0;
}
.slide .pull-left {
  float: left;
}
.slide .pull-right {
  float: right;
}
.slide .clear {
  clear: both;
}
.slide .col-1-2 {
  width: 50%;
}
.slide .col-1-3 {
  width: 33.33%;
}
.slide .fs-80 {
  font-size: .8em;
  line-height: 1.5em;
}
.slide .fs-80 code {
  line-height: 1.5em;
}
.slide .fs-65 {
  font-size: .65em;
  line-height: 1.4em;
}
.slide .fs-65 code {
  line-height: 1.4em;
}
.slide .fs-60 {
  font-size: .6em;
  line-height: 1.3em;
}
.slide .fs-60 code {
  line-height: 1.3em;
}
.slide .fs-50 {
  font-size: .5em;
  line-height: 1.3em;
}
.slide .fs-50 code {
  line-height: 1.3em;
}
#Roles ul {
  margin-left: 50px;
}
#Roles ul li span {
  color: #000;
  font-style: italic;
}
#Roles ul li span hr {
  position: absolute;
  border-color: #ccc;
}
#Roles ul li span.tm-nk i {
  position: relative;
  top: 1.3em;
  left: -70px;
}
#Roles .icon {
  position: absolute;
}
#Roles .icon.eg {
  left: 700px;
  top: 100px;
}
#Roles .icon.ob {
  left: 820px;
  top: 150px;
}
#Roles .icon.ak {
  left: 750px;
  top: 265px;
}
#Roles .icon.nk {
  left: 870px;
  top: 310px;
}
#Roles .icon.ov {
  left: 700px;
  top: 400px;
}
#Roles .icon.mg {
  left: 820px;
  top: 450px;
}
#Roles hr.eg {
  width: 155px;
  left: 537px;
  top: 198px;
  transform: rotate(-15deg);
}
#Roles hr.ob {
  width: 345px;
  left: 463px;
  top: 246px;
  transform: rotate(-7deg);
}
#Roles hr.ak {
  width: 186px;
  left: 548px;
  top: 311px;
  transform: rotate(-3deg);
}
#Roles hr.nk {
  width: 190px;
  left: 670px;
  top: 366px;
  transform: rotate(10deg);
}
#Roles hr.ov {
  width: 256px;
  left: 430px;
  top: 414px;
  transform: rotate(1deg);
}
#Roles hr.mg {
  width: 369px;
  left: 440px;
  top: 491px;
  transform: rotate(9deg);
}
#Roles hr.ak-dl {
  width: 268px;
  left: 501px;
  top: 420px;
  transform: rotate(-40deg);
}
