/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */
.slide pre .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}
.slide pre .hljs-name,
.slide pre .hljs-strong {
  font-weight: bold;
}
.slide pre .hljs-code,
.slide pre .hljs-emphasis {
  font-style: italic;
}
.slide pre .hljs-tag {
  color: #62c8f3;
}
.slide pre .hljs-variable,
.slide pre .hljs-template-variable,
.slide pre .hljs-selector-id,
.slide pre .hljs-selector-class {
  color: #ade5fc;
}
.slide pre .hljs-string,
.slide pre .hljs-bullet {
  color: #a2fca2;
}
.slide pre .hljs-type,
.slide pre .hljs-title,
.slide pre .hljs-section,
.slide pre .hljs-attribute,
.slide pre .hljs-quote,
.slide pre .hljs-built_in,
.slide pre .hljs-builtin-name {
  color: #ffa;
}
.slide pre .hljs-number,
.slide pre .hljs-symbol,
.slide pre .hljs-bullet {
  color: #d36363;
}
.slide pre .hljs-keyword,
.slide pre .hljs-selector-tag,
.slide pre .hljs-literal {
  color: #fcc28c;
}
.slide pre .hljs-comment,
.slide pre .hljs-deletion,
.slide pre .hljs-code {
  color: #888;
}
.slide pre .hljs-regexp,
.slide pre .hljs-link {
  color: #c6b4f0;
}
.slide pre .hljs-meta {
  color: #fc9b9b;
}
.slide pre .hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}
.slide pre .hljs-addition {
  background-color: #a2fca2;
  color: #333;
}
.slide pre .hljs a {
  color: inherit;
}
.slide pre .hljs a:focus,
.slide pre .hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
