.slide {
    color: #E6E1DC;
    background: #2B2B2B;
}
.slide.shout h2 {
    top: 45%;
    color: #555;
    font-weight: 600;
}
.slide.full-page > div {
    padding: 50px 96px 20px 128px;
    height: 570px;
}
.slide.full-page > div h2 {
    margin-bottom: 36px;
    font-size: 36px;
}
.slide:after {
    text-align: right;
    padding-right: 50px;
}
.slide small,
.slide .small {
    font-size: 0.7em;
}
.slide sup {
    font-size: 0.5em;
    position: relative;
    top: -1.2em;
}
.slide sup sup {
    font-size: 0.65em;
}
.slide p {
    margin: 0 0 48px;
}
.slide hr {
    background: transparent;
    border: 1px solid rgba(136, 136, 136, 0.5);
    border-bottom: 0 none;
}
.slide pre code {
    background-color: rgba(0, 0, 0, 0.09);
    padding: 0 5px;
    font-family: monospace;
    color: #ebdf82;
}

.slide .no-gap {
    line-height: 1.1em;
}
.slide .small-gap {
    line-height: 1.5em;
}
.slide .no-margin {
    margin: 0;
}
.slide .pull-left {
    float: left;
}
.slide .pull-right {
    float: right;
}
.slide .clear {
    clear: both;
}
.slide .col-1-2 {
    width: 50%;
}
.slide .col-1-3 {
    width: 33.33%;
}
.slide .fs-80 {
    font-size: .8em;
    line-height: 1.5em;
}
.slide .fs-80 code {
    line-height: 1.5em;
}
.slide .fs-65 {
    font-size: .65em;
    line-height: 1.4em;
}
.slide .fs-65 code {
    line-height: 1.4em;
}
.slide .fs-60 {
    font-size: .6em;
    line-height: 1.3em;
}
.slide .fs-60 code {
    line-height: 1.3em;
}
.slide .fs-50 {
    font-size: .5em;
    line-height: 1.3em;
}
.slide .fs-50 code {
    line-height: 1.3em;
}
.slide .subtitle {
    margin-top: -50px;
}
.slide .no-margin-bottom {
    margin-bottom: 10px;
}
.slide .margin-left {
    margin-left: 40px;
}


/* Custom styles */
p.title {
    font-size: 30px;
}

.directory {
    font-family: monospace;
    color: #ffc66d;
}

.annotation {
    font-style: italic;
    color: #bc9458;
}